
span{
    font-size: 20px;
    margin-left: 4px;
}
.testo{
    margin-left: 20px;
    font-size: 40px;
    color: cadetblue;
}
.conta{
    padding-top: 14px
}
.contenitore{
    background-color:cadetblue;
    color: white;
    height: 60px;
}
.form-select{
    width: 12%;
}
.square {
    width: 170px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    box-shadow: 2px 1px 15px #aaaaaa;
    border-radius: 20%;
}
